<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.statisticsbatch.persistence.mapper.batch.TestBatchMapper">

    <select id="getStatistics" resultType="com.example.statisticsbatch.persistence.vo.StatisticsVO">
        SELECT subject, COUNT(*) as totalVotes
        FROM student
        GROUP BY subject
    </select>

    <insert id="insertStatistics">
        INSERT INTO batch_statist (subject, total_votes)
        VALUES (#{subject}, #{totalVotes})
    </insert>
</mapper>